body{
    background-color: #00BFFF;
}

.header-container{
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-icon{
    width: 27px;
    height: 26px;
    margin-right: 5px;
}

.header-title{
    font-size: 13px;
    font-family: 'Inter', sans-serif;
}

.nav-button{
    display: flex;
    margin-right: 5px;
    margin-left: auto;
}

.button-right{
    background-color: #FFE4B5;
    width: 67px;
    height: 28px;
    color: #303030;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.hr-line1{
    color:#696969;
    border-color: #696969;
    opacity: 20%;
    margin-top: 80px;
}
.hr-line2{
    color:#696969;
    border-color: #696969;
    opacity: 20%;
    margin-top: 140px;
}

.hr-line3{
    color:#696969;
    border-color: #696969;
    opacity: 20%;
    margin: 0px;
}

#first-h1{
    margin-top: 3px;
    font-size: 55px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#p1{
    margin-top: 3px;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

#button2{
    margin-top: 10px;
    background-color: #FFE4B5;
    color:#000000;
    width: 97px;
    height: 35px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.section2{
    top: 10%;
    left: 50%;
    position: absolute;
    z-index: 1000;
}

#first-layer{
    background-color: #87CEFA;
    width: 500px;
    height: 500px;
    border:1px solid #87CEFA;
    border-radius: 5px;
    z-index: 1005;
}

#circles{
    display: flex;
}
.circle{
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#second-layer{
    background-color: #FFE4B5;
    width: 460px;
    margin: 8px 20px 10px 20px;
    height: 440px;
    border: 1px solid #FFE4B5;
    display: inline-block;
}

#hr-line4{
    border: 0;
    height: 3px;
    border-top: 4px solid #ccc;
    margin-top: 50px;
    margin-bottom: 0px;
}

#hr-line5{
    border: 0;
    width: 0;
    height: 387px;
    border-left: 4px solid #ccc;
    
    margin-left: 300px;
    margin-top:0px;
}