.section3{
    display: grid;
    flex-direction: row;
    width: 100%;
    height: 400px;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    width: 75%;
    height: 95%;
    background-color: #FFE4B5;
    opacity: 95%;
    margin: 5%;
    margin-right: 3%;
    text-align: center;
    position: relative;
    border-radius: 4px;
}

.envelope{
    margin: 0 auto;
    width: 80%;
    height: 80%;
    position: relative;
}


.paper1{
    width: 180px;
    height:150px;
    background-color: #F5F5F5;
    color: #000000;
    position: absolute; /* 绝对定位 */
    padding: 10px;
    top: 10%;
    left: 8%;
    z-index: 2; /* 确保纸张在翻盖之上 */
    display: flex;
    align-items:flex-start;
    transform: rotate(-15deg); /* 让纸张向左旋转 15 度 */
}


.paper12{
    width: 180px;
    height:150px;
    background-color: #F5F5F5;
    color: #000000;
    position: absolute; /* 绝对定位 */
    padding: 10px;
    top: 8%;
    left: 8%;
    z-index: 2; /* 确保纸张在翻盖之上 */
    display: flex;
    align-items:flex-start;
    transform: rotate(-15deg); /* 让纸张向左旋转 15 度 */
}


.paper11{
    width: 180px;
    height:150px;
    background-color: #F5F5F5;
    color: #000000;
    position: absolute; /* 绝对定位 */
    padding: 10px;
    top: 10%;
    left: 8%;
    z-index: 1; /* 确保纸张在翻盖之上 */
    display: flex;
    align-items:flex-start;
    transform: rotate(-15deg); /* 让纸张向左旋转 15 度 */
}

.paper2{
    width: 180px;
    height:100px;
    background-color: #F5F5F5;
    color: #000000;
    position: absolute; /* 绝对定位 */
    padding: 10px;
    top: 9%;
    left: 20%;
    z-index: 1; /* 确保纸张在翻盖之上 */
    transform: rotate(15deg); 
}

.paper22{
    width: 180px;
    height:100px;
    background-color: #F5F5F5;
    color: #000000;
    position: absolute; /* 绝对定位 */
    padding: 10px;
    top: 9%;
    left: 20%;
    z-index: 2; /* 确保纸张在翻盖之上 */
    transform: rotate(15deg); 
}
.paper3{
    width: 199px;
    height:140px;
    background-color: #F5F5F5;
    color: #000000;
    position: absolute; /* 绝对定位 */
    padding: 10px;
    top: 45%;
    left: 7%;
    z-index: 1; /* 确保纸张在翻盖之上 */
    align-self: center;
}

.text3{
    font-size: medium;
    margin:0;
    text-align: left;
}
.text2{
    font-family: 'Inter', sans-serif;
    font-size:20px;
    margin-top: 5%;
    margin-bottom: 0;
}

.svg{
    position: relative; 
    margin:0;
    top: 90px;
    z-index: 3;
}

.section4{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: #ADD8E6;
    opacity: 80%;
    text-align: center;
}

#text4{
    font-size: 50px;
    margin:0;
}

.cta-button {
    background-color: #00BFFF;
    color: #000;
    border: 2px solid white;
    font-size: 20px;
    font-weight:300;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;
    width: 500px;
    height: 50px;
    transition: background-color 0.3s; /* 添加背景颜色过渡效果 */
  }

  .cta-button:hover {
    background-color: #0056b3; /* 设置鼠标悬停时的背景颜色 */
}

.img1{
    width: 30px;
    height: 30px;
    margin-left: 49%;
    margin-top: 5px;
}